<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns="http://xmlns.jcp.org/xml/ns/javaee"
         xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd"
         version="3.1">
    <servlet>
        <servlet-name>Problem</servlet-name>
        <servlet-class>com.practiceit.ProblemServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>Problem</servlet-name>
        <url-pattern>/problem/</url-pattern>
        <url-pattern>/problem</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>Testing</servlet-name>
        <servlet-class>com.practiceit.TestingServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>Testing</servlet-name>
        <url-pattern>/testing/</url-pattern>
        <url-pattern>/testing</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>ListProblems</servlet-name>
        <servlet-class>com.practiceit.ListProblems</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>ListProblems</servlet-name>
        <url-pattern>/index.html</url-pattern>
    </servlet-mapping>
</web-app>
